* {
    box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, monospace;
}

a {
    color: #044891;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
