.show {
	padding: 160px 2rem 2rem;
	background-color: #333;
	box-shadow: 0 0 8px rgba(0,0,0,0.7);
	margin-top: -180px;
}

.show * {
	color: #fff;
}

.show h1 {
	font-size: 36px;
	font-weight: normal;
	margin: 0 0 1rem;
}

.show .aarstall {
	font-size: 25px;
	color: silver;
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
