.shows {
	width: 100%;
    border-collapse: collapse;
}

.shows tr img {
	cursor: pointer;
}

.shows tr img.line {
	height: 36px;
}

.shows tr img.full {
	position: absolute;
	transition: opacity 0.5s ease-in;
	opacity: 0;
	height: 0;
}

.shows tr img.full.view {
	opacity: 1;
	height: auto;
}

.shows tr:nth-child(even) {
    background-color: #efefef;
}

.shows th {
    text-align: left;
    background-color: #282c34;
    color: #fff;
    padding: 0.8rem 1rem;
    vertical-align: middle;
}

.shows td {
    padding: 0.8rem 1rem;
    vertical-align: middle;
}

.shows td.bilde {
	padding: 4px 1rem 0;
}

.shows th.notel, .shows td.notel {
    display: none;
}

.shows td:not(.noclick) {
    cursor: pointer;
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}

@media (min-width: 960px) {
    .shows th.notel, .shows td.notel {
        display: table-cell;
    }
}
