.show {
	padding: 1.4rem 2rem 2rem;
	background-color: #333;
	box-shadow: 0 0 8px rgba(0,0,0,0.7);
}

.show h1 {
	font-size: 36px;
	font-weight: normal;
	margin: 0 0 0.5rem;
    color: #fff;
}

.show .aarstall {
	font-size: 25px;
	color: silver;
}

.show .subtext {
    display: inline-block;
    font-size: 12px;
    color: silver;
    margin-bottom: 1rem;
    border-top: 1px solid #878787;
    border-bottom: 1px solid #878787;
}

.show .subtext a {
    color: silver;
}

.show .content {
    display: flex;
}

.show .content img {
    margin: 3px 1.4rem 1rem 0;
}

.show .summary {
    color: #fff;
    display: inline-block;
    margin: 0;
    line-height: 1.5rem;
}

.show .seasons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 120px;
    width: 70%;
}

.show .seasons a {
    font-size: 15px;
    color: #fff;
    margin: 0.1rem 0;
}

.show .summary p:first-child {
    margin-top: 0;
}

button {
    background: #f5d550;
    border-radius: 8px;
    margin-top: 1rem;
    padding: 0.5rem 2rem;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #aaa;
    cursor: pointer;
    float: right;
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
